.App h1, .App p {
  text-align: center;
}

.App table {
  margin: auto;
  border-collapse: collapse;
}

.App table td {
  border: 1px solid grey;
  padding: 10px;
}

.App form {
  margin-top: 50px;
  text-align: center
}

.App form .field {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.App .field > div {
  margin: 5px
}

.App form button {
 width: 100px;
 margin: auto;
}

.App form .field input {
  margin-left: 10px;
  padding: 5px;
}

.App form h2 {
  text-align: center
}

.App form h2 {
  text-align: center
}